<html>
	<head th:replace="~{base :: head}"></head>
	<body onload="onLoad()">
		<div th:replace="~{base::logo}"></div>
		<div class="container mt-3" id="ofertas">
			<div th:replace="~{base::titulo('Faça sua Oferta')}"></div>
			<div class="card mt-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: 
									<input />
								</div>
								<div class="col-md-7">Data de entrega:
									<input />
								</div>
							</div>
							
							<div>Produto</div>
							<div><a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.nomeProduto}}</textarea>
							</div>
						</div>
						
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem" alt="Imagem do produto"/>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue({
					el: '#ofertas',
					data: {
						pedidos : [
					  	  /*{
						    "id": 15,
						    "nomeProduto": "Novo Echo Dot (4ª geração): Smart Speaker com Relógio e Alexa - Cor Branca",
						    "valorNegociado": null,
						    "dataDaEntrega": null,
						    "urlProduto": "https://www.amazon.com.br/gp/product/B084J4WP6J/?pf_rd_r=CQGDG1V2RVDS5VDREYH7&pf_rd_p=964743ac-be14-4110-88f1-8f6de33a3dfd",
						    "urlImagem": "https://images-na.ssl-images-amazon.com/images/I/61OeVWiQojL._AC_SL1000_.jpg",
						    "descricao": "Novo Echo Dot (4ª geração): Smart Speaker com Relógio e Alexa - Cor Branca",
						    "status": "AGUARDANDO",
						    "usuario": {
						      "username": "maria",
						      "password": "$2a$10$yeMJ5NfDf1cfmhktDdPNQue9H21C1Draw/W2sxBGQog.c//3hlMum",
						      "enabled": true
						    }
						  },
						  {
						    "id": 10,
						    "nomeProduto": "DVD Homem-Aranha No Aranhaverso",
						    "valorNegociado": 159.99,
						    "dataDaEntrega": "2020-11-26",
						    "urlProduto": "https://www.amazon.com.br/dp/B07QW21L35/?coliid=I3ORJZXF55VKPK&colid=NUU4FEQ4CAW2&psc=1&ref_=lv_ov_lig_dp_it",
						    "urlImagem": "https://images-na.ssl-images-amazon.com/images/I/71LbrIg-SdL._AC_SL1000_.jpg",
						    "descricao": "",
						    "status": "AGUARDANDO",
						    "usuario": null
						  }*/
						]
					},
					mounted() {
						axios
					      .get('http://localhost:8080/api/pedidos/aguardando')
					      .then(response => (this.pedidos = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>